<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppointmentReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <AppointmentReminder.Properties.Settings>
            <setting name="AccountSID" serializeAs="String">
                <value>ACcd26dab9ceaed04e5a820bf5e99129ee</value>
            </setting>
            <setting name="AuthToken" serializeAs="String">
                <value>a90d919fb94d053692f86da12d1759fb</value>
            </setting>
            <setting name="TwilioPhone" serializeAs="String">
                <value>3059026826</value>
            </setting>
            <setting name="DataBasePath" serializeAs="String">
                <value>C:\FULLPATH\ApptDB.mdb</value>
            </setting>
            <setting name="TimeOfDay" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="ReminderMessage" serializeAs="String">
                <value>*REMINDER FROM Z&amp;B Accounting*\nYour appointment with {0} at Z&amp;B Accounting is tomorrow at {1}. If you need to cancel your appointment do not respond to this message. Please call the office at (305) 557-2389.</value>
            </setting>
            <setting name="ErrorLogPhone" serializeAs="String">
                <value>3055824961</value>
            </setting>
        </AppointmentReminder.Properties.Settings>
    </applicationSettings>
</configuration>