<div class="container content-main">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h2 class="form-group">Appointments</h2>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label>Date</label>
                    <input ng-model="$ctrl.date" type="date" class="form-control" />
                </div>
                <div class="col form-group">
                    <label>Employee</label>
                    <select ng-options="n.empId as n.empName for n in $ctrl.employees"
                            ng-model="$ctrl.employee" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <button ng-click="$ctrl.submit()" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{n}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <tr>
                            <th>Start</th>
                            <th>End</th>
                            <th>Customer</th>
                            <th>Phone #</th>
                        </tr>
                        <tr ng-repeat="n in $ctrl.appointments | orderBy: 'startTime'">
                            <td>{{n.startTime | dateformat: 'shortTime'}}</td>
                            <td>{{n.endTime | dateformat: 'shortTime'}}</td>
                            <td>{{n.firstName}} {{n.lastName}}</td>
                            <td>{{n.phone}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
