<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand col-padded" ui-sref="home">Z&B Appointments</a>
    <div class="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <!--<ul class="navbar-nav flex-grow-1" ng-if="$ctrl.logged_in">
            <li class="nav-item">
                <a ui-sref="film" ui-sref-active="active" class="nav-link">Films</a>
            </li>
            <li class="nav-item">
                <a ui-sref="film-report" ui-sref-active="active" class="nav-link">Report</a>
            </li>
        </ul>-->

        <div class="col-padded">
            <button class="btn btn-light" type="submit" ng-click="$ctrl.onLogin()" ng-if="!$ctrl.logged_in">Login</button>
            <button class="btn btn-light" type="submit" ng-click="$ctrl.onLogout()" ng-if="$ctrl.logged_in">Logout</button>
        </div>
        <!--<div ng-if="$ctrl.logged_in" class="nav-item dropdown col-padded">
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" ng-click="$ctrl.onLogout()">Log Off</a>
            </div>
        </div>-->
    </div>
</nav>