@import"_variables.scss";

/*Paginator*/
.pagination > li > a, .pagination > li > span {
    border: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $color-info;
    border-color: $color-info;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    line-height: 0;
    padding: 6px 2px 2px;
}

paginator {
    .paginator-inner {
        display: flex;
    }

    .paginator-item {
        padding: 0.25rem;
        cursor: pointer;
        min-width: 2rem;
        display: block;
        text-align: center;


        &:hover {
            background-color: #efefef;
        }

        &:first-child {
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
        }

        &:last-child {
            border-bottom-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        &.active{
            color: $color-info;
            background-color: #efefef;
            border-radius:0.25rem;
        }
    }

    .material-icons {
        vertical-align: middle;
    }
}
